<!DOCTYPE html>
<html>
  <head>
  <title>PracMasa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p:400,500" rel="stylesheet">
    <%#link href="../../../app/assets/stylesheets/style.css" rel="stylesheet"#%>
  </head>


  <body>
    <%= yield %>
  </body>
</html>
